:root{
    --Very_Light_Grayish_Blue: hsl(240, 78%, 98%),
    --Light_Grayish_Blue: hsl(234, 14%, 74%),
    --Grayish_Blue: hsl(233, 13%, 49%),
    --Dark_Grayish_Blue: hsl(232, 13%, 33%),
}
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}
.pr_container_wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pr_container{
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0 32px;
    background: hsl(240, 100%, 98%);
    width: 450px;
    margin: auto;
    overflow: hidden;
}
.pr_container .top_image{
    position: absolute;
    top: 0;
    right: -35%;
    /* z-index: 9; */
}
.pr_container .bottom_image{
    display: none;
}
.pr_our_pricing_title{
    font-size: 28px;
    font-weight: 700;
    margin-top: 52px;
    color: hsl(233, 13%, 49%);
}
.pr_annually_mothly_swicth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    font-size: 22px;
    font-weight: 700;
    padding: 40px 0 60px 0;
    color: hsl(234, 14%, 74%);
}
.pr_pricing_content .pricing_item{
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
    /* width: 50%; */
    /* margin: auto; */
    padding: 0 24px 32px 24px;
    box-shadow: 4px 4px 10px 4px rgb(233, 233, 233);
    border-radius: 8px;
    background: white;
    z-index: 999;
    position: relative;
}
.pr_item_title{
    font-size: 22px;
    font-weight: 700;
    padding-top: 32px;
    color: hsl(233, 13%, 49%);
}
.pr_item_price{
    font-size: 42px;
    font-weight: 700;
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding: 28px 0 32px 0;
    color: hsl(232, 13%, 33%);
}
.pr_details_item{
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding: 24px 0;
    color: hsl(233, 13%, 49%);
}
.pricing_item .pr_item_btn{
    font-size: 18px;
    font-weight: 700;
    background: hsl(237, 63%, 64%);
    color: hsl(240, 43%, 99%);
    padding: 16px 0;
    border-radius: 8px;
    margin: 42px 0 0 0;
}
/* active item */
.pr_pricing_content .pr_mark_item{
    background: hsl(237, 63%, 64%);
    color: white !important;
    /* padding: 32px 0; */
    /* height: 1500px; */
    position: relative;
    scale: 1.1;
    z-index: 999999;
    transition: scale 0.3s linear;
}
.pr_active_item_color{
    color: hsl(240, 78%, 98%) !important;
}
.pr_active_item_btn{
    background: hsl(240, 78%, 98%) !important;
    color: hsl(237, 63%, 64%) !important;
}
.pr_inactive_item_btn{
    background: hsl(237, 63%, 64%) !important;
    color: hsl(240, 78%, 98%) !important;
}
/* switch css */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/* desktop */
@media (min-width: 1020px) {
    .pr_container{
        width: 100%;
        /* flex-direction: row; */
    }
    .pr_pricing_content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1%;
        margin-bottom: 80px;
    }
    .pricing_item{
        width: 20%;
        height: calc(300px + 40%);
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    }
    .pr_details_item{
        padding: 20px 0;
    }
    .pr_active_item_large_height{
        height: calc(350px + 40%) ;
    }
    .pr_container .top_image{
        position: absolute;
        top: 0;
        right: 0;
        /* z-index: 9; */
    }
    .pr_container .bottom_image{
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
    }
}